<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<html>
<head>
    <title>Chargemasters</title>
    {% include "styles.html" %}
</head>
<body>
<div style="padding: 25px 25px 25px 25px;">
{% for b in buildings %}
<table class="table">
<tbody>
<tr>
    <th>SPC Rating</th>
    <td>{{ b.spc_rating }}</td>
</tr>
<tr>
    <th>SPC Verified</th>
    <td>{{ b.spc_verified }}</td>
</tr>
<tr>
    <th>Building Name</th>
    <td>{{ b.building_name }}</td>
</tr>
<tr>
    <th>Building Status</th>
    <td>{{ b.building_status }}</td>
</tr>
<tr>
    <th>Stories</th>
    <td>{{ b.stories }}</td>
</tr>
<tr>
    <th>County</th>
    <td>{{ b.county }}</td>
</tr>
<tr>
    <th>Location</th>
    <td><a href="{{ b.location }}">{{ b.latitude }}, {{ b.longitude }}</a></td>
</tr>
<tr>
    <th>perm_id</th>
    <td>{{ b.perm_id }}</td>
</tr>
<tr>
    <th>facility_name</th>
    <td>{{ b.facility_name }}</td>
</tr>
<tr>
    <th>city</th>
    <td>{{ b.city }}</td>
</tr>
<tr>
    <th>building_nbr</th>
    <td>{{ b.building_nbr }}</td>
</tr>
<tr>
    <th>building_url</th>
    <td>{{ b.building_url }}</td>
</tr>
<tr>
    <th>height_ft</th>
    <td>{{ b.height_ft }}</td>
</tr>
<tr>
    <th>building_code</th>
    <td>{{ b.building_code }}</td>
</tr>
<tr>
    <th>building_code_year</th>
    <td>{{ b.building_code_year }}</td>
</tr>
<tr>
    <th>year_completed</th>
    <td>{{ b.year_completed }}</td>
</tr>
<tr>
    <th>ab_1882_notice</th>
    <td>{{ b.ab_1882_notice }}</td>
</tr>
<hr/>
</tbody>
</table>
<hr/>
{% endfor %}
</div>
</body></html>
