<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<html>
<head>
    <title>Chargemasters</title>
    {% include "styles.html" %}
</head>
<body>
<div style="padding: 25px 25px 25px 25px;">
{% include "tops/chargemasters-top.html" %}
<h2>Files - # {{ count }}</h2>
<table class="table">
<caption>{{ caption }}</caption>
<tbody>
{% for file in files %}
    <tr>
        <td colspan="4"><strong>File:</strong> {{ file.full_name }}</td>
    </tr>
    <tr>
        <td><strong>Id:</strong> {{ file.hcai_id }}</td>
        <td><strong>Pk:</strong> {{ file.pk }}</td>
        <td><strong>Type:</strong> {{ file.file_type }}</td>
        <td><strong>Ext:</strong> {{ file.file_ext }}</td>
    </tr>
{% endfor %}
</tbody>
</table>
</div>
</body></html>
