<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<html>
<head>
    <title>Chargemasters</title>
    {% include "styles.html" %}
</head>
<body>
<div style="padding: 25px 25px 25px 25px;">
<p align="left"><a href="/hcai/">Home</a></p>
{% include "tops/chargemasters-top.html" %}
<h3>Sheets & Columns</h3>
<ul>
{% for file in files %}
<li>
    {{ files[file]['full_name'] }}
    <ul>
    {% for sheet in files[file]['sheets'] %}
        <li>{{ sheet }} - {{ files[file]['sheets'][sheet] }}</li>
    {% endfor %}
    </ul>
</li>
{% endfor %}
</ul>
</div</body></html>
