<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<html>
<head>
    <title>Chargemasters</title>
    {% include "styles.html" %}
</head>
<body>
<div style="padding: 25px 25px 25px 25px;">
    {% include "chargemasters_top.html" %}
    {% if year %}
    <table class="table table-striped">
    <caption>Files # {{ all_count }}</caption>
    <thead>
        <tr>
            <th>HCAI Id</th>
            <th>File Name</th>
        </tr>
    </thead>
    <tbody>
        {% for file in files %}
        <tr>
            <td><a href="/hcai/chargemasters/hcai_id/{{ file.hcai_id }}">{{ file.hcai_id }}</a></td>
            <td>{{ file.full_name }}</td>
        </tr>
        <tr>
            {% if 'facilities' in file %}
            <td colspan="2">
            <table class="table" border="1">
            <tr><th>Common25 Count</th><td>{{ file.count }}</td></tr>
            <tr><th>Fac Name</th><td>{{ file.facilities[0].facname }}</td></tr>
            <tr><th>Fac FDR</th><td>{{ file.facilities[0].fac_fdr }}</td></tr>
            <tr><th>County</th><td>{{ file.facilities[0].county_name }}</td></tr>
            <tr><th>Business Name</th><td>{{ file.facilities[0].business_name }}</td></tr>
            <tr><th>Lic Status</th><td>{{ file.facilities[0].license_status_description }}</td></tr>
            <tr><th>Lic From</th><td>{{ file.facilities[0].initial_license_date }}</td></tr>
            <tr><th>Is Birthing Fac</th><td>{{ file.facilities[0].birthing_facility_flag }}</td></tr>
            </table>
            </td>
            {% else %}
            <td>&nbsp;</td>
            <td><strong>No HCAI Id located (???) in File Name</strong></td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
    </table>
    {% endif %}
</div>
</body></html>
