<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<html>
<head>
    <title>HCAI Facilities</title>
    {% include "styles.html" %}
</head>
<body>
<div style="padding: 25px 25px 25px 25px;">
    <p align="left"><a href="/hcai/">Home</a></p>
    <h3>Categories</h3>
    <p>{% for category in categories %}
           {% if category.name %}
           {{ category.name }}&nbsp;({{ category.count }})&nbsp;-&nbsp;
           {% else %}
           None&nbsp;({{ category.count }})&nbsp;-&nbsp;
           {% endif %}
       {% endfor %}</p>
    <h3>Emergency Room: Level of Service</h3>
    <p>{% for los in er_los %}{{ los.name }}&nbsp;({{ los.count }})&nbsp;-&nbsp; {% endfor %}</p>
    <h3>Counties</h3>
    <p>{% for county in counties %}{{ county.name }}&nbsp;({{ county.count }})&nbsp;-&nbsp; {% endfor %}</p>
</div>
</body></html>
