<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<html>
<head>
    <title>HCAI</title>
    {% include "styles.html" %}
</head>
<body>
<div style="padding: 25px 25px 25px 25px;">
<h2>Datasets:</h2>
<p>adap-base<br/>tables # 0, updated: NULL<br/>{% include "tops/adap-base-top.html" %}</p>
<p>all-cause-unplanned-30-day-hospital-readmission-rate-california<br/>tables # 0, updated: NULL<br/>{% include "tops/all-cause-unplanned-30-day-hospital-readmission-rate-california-top.html" %}</p>
<p>asthma-deaths-by-county<br/>tables # 1, updated: NULL<br/>{% include "tops/asthma-deaths-by-county-top.html" %}</p>
<p>asthma-prevalence<br/>tables # 0, updated: NULL<br/>{% include "tops/asthma-prevalence-top.html" %}</p>
<p>average-reimbursement-per-family-pact-client-served-by-fiscal-year<br/>tables # 0, updated: NULL<br/>{% include "tops/average-reimbursement-per-family-pact-client-served-by-fiscal-year-top.html" %}</p>
<p>california-hospital-performance-ratings<br/>tables # 0, updated: NULL<br/>{% include "tops/california-hospital-performance-ratings-top.html" %}</p>
<p>change-in-the-number-of-family-pact-clients-served-by-sex-age-and-fiscal-years<br/>tables # 0, updated: NULL<br/>{% include "tops/change-in-the-number-of-family-pact-clients-served-by-sex-age-and-fiscal-years-top.html" %}</p>
<p>chlamydia-screening-percentages-for-female-family-pact-clients-by-age<br/>tables # 0, updated: NULL<br/>{% include "tops/chlamydia-screening-percentages-for-female-family-pact-clients-by-age-top.html" %}</p>
<p>chargemasters<br/>tables # 6, updated: NULL<br/>{% include "tops/chargemasters-top.html" %}</p>
<p>cms-stc-datasets<br/>tables # 0, updated: NULL<br/>{% include "tops/cms-stc-datasets-top.html" %}</p>
<p>county-health-status-profiles<br/>tables # 1, updated: 2024-08-23<br/>{% include "tops/county-health-status-profiles-top.html" %}</p>
<p>covid-19-sewershed-restricted-case-data<br/>tables # 2, updated: 2024-08-15<br/>{% include "tops/covid-19-sewershed-restricted-case-data-top.html" %}</p>
<p>dataset-catalog<br/>tables # 1, updated: 2024-08-15<br/>{% include "tops/dataset-catalog-top.html" %}</p>
<p>death-profiles-by-county<br/>tables # 1, updated: NULL<br/>{% include "tops/death-profiles-by-county-top.html" %}</p>
<p>demographic-profile-of-family-pact-clients-served-by-fiscal-year<br/>tables # 0, updated: NULL<br/>{% include "tops/demographic-profile-of-family-pact-clients-served-by-fiscal-year-top.html" %}</p>
<p>dhcs-county-code-reference-table<br/>tables # 1, updated: 2024-08-20<br/>{% include "tops/dhcs-county-code-reference-table-top.html" %}</p>
<p>directory-of-service-providers<br/>tables # 0, updated: NULL<br/>{% include "tops/directory-of-service-providers-top.html" %}</p>
<p>facility-profile-attributes<br/>tables # 1, updated: NULL<br/>{% include "tops/facility-profile-attributes-top.html" %}</p>
<p>family-pact-adults-and-adolescents-receiving-an-contraceptive-iuc<br/>tables # 0, updated: NULL<br/>{% include "tops/family-pact-adults-and-adolescents-receiving-an-contraceptive-iuc-top.html" %}</p>
<p>family-pact-client-demographics-by-county<br/>tables # 0, updated: NULL<br/>{% include "tops/family-pact-client-demographics-by-county-top.html" %}</p>
<p>family-pact-clients-served-by-service-type-combination-and-fiscal-years<br/>tables # 0, updated: NULL<br/>{% include "tops/family-pact-clients-served-by-service-type-combination-and-fiscal-years-top.html" %}</p>
<p>family-pact-female-clients-by-method-tier-and-race-ethnicity<br/>tables # 0, updated: NULL<br/>{% include "tops/family-pact-female-clients-by-method-tier-and-race-ethnicity-top.html" %}</p>
<p>family-pact-provider-finder-app<br/>tables # 0, updated: NULL<br/>{% include "tops/family-pact-provider-finder-app-top.html" %}</p>
<p>family-pact-providers-clients-and-reimbursement-by-county<br/>tables # 0, updated: NULL<br/>{% include "tops/family-pact-providers-clients-and-reimbursement-by-county-top.html" %}</p>
<p>family-pact-providers-profile<br/>tables # 0, updated: NULL<br/>{% include "tops/family-pact-providers-profile-top.html" %}</p>
<p>family-pact-reimbursement-by-service-type<br/>tables # 0, updated: NULL<br/>{% include "tops/family-pact-reimbursement-by-service-type-top.html" %}</p>
<p>family-pact-sexually-transmitted-infection-test-volume-for-males-and-females-by-fiscal-years<br/>tables # 0, updated: NULL<br/>{% include "tops/family-pact-sexually-transmitted-infection-test-volume-for-males-and-females-by-fiscal-years-top.html" %}</p>
<p>female-family-pact-clients-by-age<br/>tables # 0, updated: NULL<br/>{% include "tops/female-family-pact-clients-by-age-top.html" %}</p>
<p>health-and-human-services-program-counts<br/>tables # 4, updated: 2024-07-31<br/>{% include "tops/health-and-human-services-program-counts-top.html" %}</p>
<p>healthcare-facility-locations<br/>tables # 2, updated: 2024-07-30<br/>{% include "tops/healthcare-facility-locations-top.html" %}</p>
<p>healthcare-facility-services<br/>tables # 0, updated: NULL<br/>{% include "tops/healthcare-facility-services-top.html" %}</p>
<p>healthcare-payments-data-snapshot<br/>tables # 3, updated: 2024-08-02<br/>{% include "tops/healthcare-payments-data-snapshot-top.html" %}</p>
<p>healthcare-workforce-geography-crosswalk<br/>tables # 3, updated: NULL<br/>{% include "tops/healthcare-workforce-geography-crosswalk-top.html" %}</p>
<p>hospital-building-data<br/>tables # 1, updated: 2024-08-20<br/>{% include "tops/hospital-building-data-top.html" %}</p>
<p>hospital-inpatient-diagnosis-procedure-and-external-cause-codes<br/>tables # 5, updated: NULL<br/>{% include "tops/hospital-inpatient-diagnosis-procedure-and-external-cause-codes-top.html" %}</p>
<p>infant-mortality-deaths-per-1000-live-births-lghc-indicator-01<br/>tables # 1, updated: NULL<br/>{% include "tops/infant-mortality-deaths-per-1000-live-births-lghc-indicator-01-top.html" %}</p>
<p>licensed-facility-crosswalk<br/>tables # 0, updated: NULL<br/>{% include "tops/licensed-facility-crosswalk-top.html" %}</p>
<p>licensed-healthcare-facility-listing<br/>tables # 1, updated: 2024-08-21<br/>{% include "tops/licensed-healthcare-facility-listing-top.html" %}</p>
<p>live-birth-profiles-by-county<br/>tables # 1, updated: NULL<br/>{% include "tops/live-birth-profiles-by-county-top.html" %}</p>
<p>measurable-hospital-acquired-conditions-composite-patient-safety-indicator-statewide-rate-california<br/>tables # 0, updated: NULL<br/>{% include "tops/measurable-hospital-acquired-conditions-composite-patient-safety-indicator-statewide-rate-california-top.html" %}</p>
<p>medi-cal-fpact-provider-listing<br/>tables # 0, updated: NULL<br/>{% include "tops/medi-cal-fpact-provider-listing-top.html" %}</p>
<p>newborn-screening-disorders<br/>tables # 0, updated: NULL<br/>{% include "tops/newborn-screening-disorders-top.html" %}</p>
<p>number-and-percentage-of-sexually-transmitted-infection-tests-in-family-pact-by-fiscal-years<br/>tables # 0, updated: NULL<br/>{% include "tops/number-and-percentage-of-sexually-transmitted-infection-tests-in-family-pact-by-fiscal-years-top.html" %}</p>
<p>number-of-family-pact-clients-provided-sterilization-services-and-percentage-change<br/>tables # 0, updated: NULL<br/>{% include "tops/number-of-family-pact-clients-provided-sterilization-services-and-percentage-change-top.html" %}</p>
<p>number-of-family-pact-clients-served-with-family-planning-methods-services-by-fiscal-years<br/>tables # 0, updated: NULL<br/>{% include "tops/number-of-family-pact-clients-served-with-family-planning-methods-services-by-fiscal-years-top.html" %}</p>
<p>percentage-of-fpact-clients-tested-for-selected-stis-by-sex<br/>tables # 0, updated: NULL<br/>{% include "tops/percentage-of-fpact-clients-tested-for-selected-stis-by-sex-top.html" %}</p>
<p>percent-of-all-family-pact-clients-served-with-sexually-transmitted-infection-tests-by-fiscal-years<br/>tables # 0, updated: NULL<br/>{% include "tops/percent-of-all-family-pact-clients-served-with-sexually-transmitted-infection-tests-by-fiscal-years-top.html" %}</p>
<p>postoperative-sepsis-outcomes-for-elective-surgeries-in-california-hospitals<br/>tables # 0, updated: NULL<br/>{% include "tops/postoperative-sepsis-outcomes-for-elective-surgeries-in-california-hospitals-top.html" %}</p>
<p>primary-care-clinic-annual-utilization-data<br/>tables # 2, updated: 2024-08-15<br/>{% include "tops/primary-care-clinic-annual-utilization-data-top.html" %}</p>
<p>profile-of-enrolled-medi-cal-fee-for-service-ffs-providers<br/>tables # 1, updated: 2024-08-15<br/>{% include "tops/profile-of-enrolled-medi-cal-fee-for-service-ffs-providers-top.html" %}</p>
<p>provider-suspended-and-ineligible-list-s-i-list<br/>tables # 2, updated: 2024-08-10<br/>{% include "tops/provider-suspended-and-ineligible-list-s-i-list-top.html" %}</p>
<p>providers-delivering-family-planning-access-care-and-treatment-pact-services-by-fiscal-years<br/>tables # 0, updated: NULL<br/>{% include "tops/providers-delivering-family-planning-access-care-and-treatment-pact-services-by-fiscal-years-top.html" %}</p>
<p>provision-of-selected-family-pact-contraception-by-county<br/>tables # 0, updated: NULL<br/>{% include "tops/provision-of-selected-family-pact-contraception-by-county-top.html" %}</p>
<p>respiratory-virus-dashboard-metrics<br/>tables # 1, updated: 2024-08-22<br/>{% include "tops/respiratory-virus-dashboard-metrics-top.html" %}</p>
<p>statewide-death-profiles<br/>tables # 1, updated: 2024-06-26<br/>{% include "tops/statewide-death-profiles-top.html" %}</p>
<p>sud-recovery-treatment-facilities<br/>tables # 1, updated: 2024-08-15<br/>{% include "tops/sud-recovery-treatment-facilities-top.html" %}</p>
<p>surgical-site-infections-ssis-for-28-operative-procedures-in-california-hospitals<br/>tables # 5, updated: 2024-08-06<br/>{% include "tops/surgical-site-infections-ssis-for-28-operative-procedures-in-california-hospitals-top.html" %}</p>
<p>test-cdph-immunizations-in-first-grade-by-academic-year<br/>tables # 1, updated: NULL<br/>{% include "tops/test-cdph-immunizations-in-first-grade-by-academic-year-top.html" %}</p>
<p>total-provider-reimbursement-for-family-pact-services-by-fiscal-years<br/>tables # 1, updated: 2024-08-22<br/>{% include "tops/total-provider-reimbursement-for-family-pact-services-by-fiscal-years-top.html" %}</p>
<p>wic-authorized-product-list-apl<br/>tables # 1, updated: NULL<br/>{% include "tops/wic-authorized-product-list-apl-top.html" %}</p>
<p>women-infants-and-children-wic-authorized-vendors<br/>tables # 1, updated: 2024-08-22<br/>{% include "tops/women-infants-and-children-wic-authorized-vendors-top.html" %}</p>
<p>x-ray-technologist-listing-in-california<br/>tables # 1, updated: 2024-08-22<br/>{% include "tops/x-ray-technologist-listing-in-california-top.html" %}</p>
<p>or see <a href="/hcai/table_columns/">table columns</a>.
</div>
</body></html>
