<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<html>
<head>
    <title>HCAI</title>
    {% include "styles.html" %}
</head>
<body>
<div style="padding: 25px 25px 25px 25px;">
<h2>Datasets:</h2>
<p>abcd-350-annual-recipient-report<br/>
<p>abortion-related-services-funded-by-medi-cal<br/>
<p>aces-attestations-app<br/>
<p>aces-aware-clinician-directory<br/>
<p>aces-aware-clinician-listing<br/>
<p>acute-care-hospital-transfers-by-major-diagnostic-category-mdc<br/>
<p>adap-base<br/>tables # 0, updated: NULL<br/>{% include "tops/adap-base-top.html" %}</p>
<p>adap-enrollment-sites1<br/>
<p>adap-enrollment-sites2<br/>
<p>adap-enrollment-sites<br/>
<p>adolescent-births-2010-2012<br/>
<p>adolescent-births<br/>
<p>adult-ab470-datasets<br/>
<p>adult-cigarette-and-tobacco-use-prevalence<br/>
<p>adult-demographics-by-biological-sex<br/>
<p>adult-depression-lghc-indicator-24<br/>
<p>adult-population-performance-dashboard<br/>
<p>adults-meeting-physical-activity-guidelines-lghc-indicator-16<br/>
<p>adult-snapshot-report-by-biological-sex<br/>
<p>adult-specialty-mental-health-services-utilization-by-biological-sex<br/>
<p>adults-with-diabetes-per-100-lghc-indicator-23<br/>
<p>adult-time-to-step-down-by-biological-sex<br/>
<p>advanced-stage-breast-cancer-among-women-40-years-and-older-by-medical-service-study-2010-20141<br/>
<p>advanced-stage-breast-cancer-among-women-40-years-and-older-by-medical-service-study-2010-2014<br/>
<p>aevs-carrier-codes-for-other-health-coverage<br/>
<p>age-and-gender-of-eligible-individuals-selecting-covered-california-qualified-health-plan<br/>
<p>age-and-gender-of-newly-medi-cal-eligible-individuals<br/>
<p>ahrq-pediatric-quality-indicators-for-california-hospitals<br/>
<p>all-cause-unplanned-30-day-hospital-readmission-rate-california<br/>tables # 0, updated: NULL<br/>{% include "tops/all-cause-unplanned-30-day-hospital-readmission-rate-california-top.html" %}</p>
<p>alw-assisted-living-facilities<br/>
<p>alw-assisted-living-facilities-june-20191<br/>
<p>alw-assisted-living-facility-finder-app<br/>
<p>alw-care-coordination-agencies1<br/>
<p>alw-care-coordination-agencies<br/>
<p>alw-care-coordination-agencies-list<br/>
<p>alw-care-coordination-agencies-list-june-20191<br/>
<p>alw-care-coordination-agencies_old1<br/>
<p>alw-care-coordination-facility-finder-app<br/>
<p>alw-facilities<br/>
<p>alw-public-subsidized-housing<br/>
<p>alw-public-subsidized-housing_old2<br/>
<p>ambulatory-surgery-characteristics-by-facility-pivot-profile<br/>
<p>ambulatory-surgery-characteristics-by-patient-county-of-residence_<br/>
<p>ambulatory-surgery-diagnosis-procedure-and-external-cause-codes<br/>
<p>annual-beneficiary-grievance-and-appeal-report-abgar<br/>
<p>annual-miles-traveled-2002-2010<br/>
<p>applications-received-for-insurance-affordability-programs-through-other-eligibility-pathways<br/>
<p>applications-submitted-for-insurance-affordability-programs-with-the-help-of-an-assister<br/>
<p>approved-research-projects-by-the-committee-for-the-protection-of-human-subjects<br/>
<p>areas-with-potential-for-naturally-occurring-asbestos1<br/>
<p>assisted-living-waiver-web-app1<br/>
<p>asthma-deaths-by-county<br/>tables # 1, updated: NULL<br/>{% include "tops/asthma-deaths-by-county-top.html" %}</p>
<p>asthma-ed-visit-rates-by-county-20121<br/>
<p>asthma-ed-visit-rates-by-zip-20121<br/>
<p>asthma-ed-visit-rates-lghc-indicator-07<br/>
<p>asthma-emergency-department-visit-rates<br/>
<p>asthma-emergency-department-visit-rates-by-zip-code<br/>
<p>asthma-hospitalization-rates-by-county<br/>
<p>asthma-prevalence-adults-18-and-older<br/>
<p>asthma-prevalence<br/>tables # 0, updated: NULL<br/>{% include "tops/asthma-prevalence-top.html" %}</p>
<p>average-reimbursement-per-family-pact-client-served-by-fiscal-year<br/>tables # 0, updated: NULL<br/>{% include "tops/average-reimbursement-per-family-pact-client-served-by-fiscal-year-top.html" %}</p>
<p>births-by-age-of-mother-1960-2013<br/>
<p>calcat<br/>
<p>calfresh-healthy-living-gis<br/>
<p>calfresh-household-and-person-counts-by-county<br/>
<p>california-adults-who-met-physical-activity-guidelines-for-americans-2013<br/>
<p>california-children-s-services-ccs<br/>
<p>california-diagnostic-catheterization-dxcath-volume-and-sociodemographic-comparisons<br/>
<p>california-health-care-quality-report-cards-2016-2017-edition<br/>
<p>california-hospital-inpatient-mortality-rates-and-quality-ratings<br/>
<p>california-hospital-performance-ratings<br/>tables # 0, updated: NULL<br/>{% include "tops/california-hospital-performance-ratings-top.html" %}</p>
<p>california-hospital-performance-ratings-for-coronary-artery-bypass-graft-cabg-surgery<br/>
<p>california-independent-living-and-traumatic-brain-injury-center-locations<br/>
<p>california-inpatient-severe-sepsis<br/>
<p>california-medicaid-eligibility-groups-by-medi-cal-aid-code<br/>
<p>california-statewide-inpatient-mortality-rates<br/>
<p>california-surgeon-performance-ratings-for-cabg-2011-2016<br/>
<p>california-women-infants-and-children-program-redemption-by-county<br/>
<p>calworks-welfare-to-work-monthly-activities<br/>
<p>case-mix-index<br/>
<p>ca-surgeon-risk-adjusted-operative-mortality-rates-for-coronary-artery-bypass-graft-cabg-surgery<br/>
<p>ca-wellness-plan-data-reference-guide<br/>
<p>ca_wic_apl_20201030_covid19<br/>
<p>ca-wic-apl-2021-06-02<br/>
<p>cdph-calbrace-adaptation-toolkit1<br/>
<p>cdph-calbrace-adaptation-toolkit2<br/>
<p>cdph-emsa-situational-awareness-application-v-81<br/>
<p>cdph-emsa-situational-awareness-application-v-8<br/>
<p>cdph-health-care-personnel-influenza-vaccination<br/>
<p>cdph-licensing-and-certification-healthcare-facilities1<br/>
<p>cdph_live-birth-by-zip-code<br/>
<p>cdph-skilled-nursing-facilities-covid-19<br/>
<p>certified-and-approved-residential-mental-health-programs<br/>
<p>change-in-the-number-of-family-pact-clients-served-by-sex-age-and-fiscal-years<br/>tables # 0, updated: NULL<br/>{% include "tops/change-in-the-number-of-family-pact-clients-served-by-sex-age-and-fiscal-years-top.html" %}</p>
<p>characteristics-ecm-and-mcp-in-cy-2022-sex1<br/>
<p>characteristics-ecm-and-mcp-in-cy-2022-sex<br/>
<p>characteristics-of-members-who-received-ecm-in-cy-2022-primary-spoken-language1<br/>
<p>characteristics-of-members-who-received-ecm-in-cy-2022-primary-spoken-language<br/>
<p>characteristics-of-members-who-received-ecm-in-cy-2022-race-and-ethnicity1<br/>
<p>characteristics-of-members-who-received-ecm-in-cy-2022-race-and-ethnicity<br/>
<p>chargemasters<br/>tables # 6, updated: NULL<br/>{% include "tops/chargemasters-top.html" %}</p>
<p>chart-0-1-2-3-4-x-totals-for-implementation-report<br/>
<p>chart-1-1-x-total-number-of-unique-members-who-received-ecm-in-each-quarter<br/>
<p>chart-1-2-cumulative-number-of-members-who-received-ecm-since-ecm-launch<br/>
<p>chart-1-3-1-total-number-of-members-who-received-ecm-in-the-last-12-months-of-the-reporting-per<br/>
<p>chart-1-3-x-total-number-of-members-who-received-ecm-in-each-quarter-by-population-of-focus-202<br/>
<p>chart-1-3-x-total-number-of-members-who-received-ecm-in-each-quarter-by-population-of-focus<br/>
<p>chart-1-4-1-total-number-of-members-who-received-ecm-in-the-last-12-months-of-the-reporting-per<br/>
<p>chart-1-4-1-total-number-of-members-who-received-ecm-in-the-last-12-months-of-the-report-period<br/>
<p>chart-1-4-2-total-numb-of-members-who-received-ecm-in-the-last-12-months-of-the-reporting-perio<br/>
<p>chart-1-4-3-total-number-of-members-who-received-ecm-in-the-last-12-months-of-the-reporting-per<br/>
<p>chart-1-4-4-total-number-of-members-who-received-ecm-in-the-last-12-months-of-the-reporting-per<br/>
<p>chart-1-5-county-penetration-rates-for-ecm-in-the-last-12-months-of-the-reporting-period<br/>
<p>chart-1-6-mcp-penetration-rates-for-ecm-in-the-last-12-months-of-the-reporting-period<br/>
<p>chart-1-7-1-ecm-penetration-rates-by-mcp-and-county-in-the-last-12-months-of-the-reporting-peri<br/>
<p>chart-1-7-2-total-members-who-received-ecm-by-mcp-and-county-in-each-quarter-of-the-reporting-p<br/>
<p>chart-1-7-3-total-members-who-received-ecm-by-mcp-and-county-in-the-most-recent-quarter-of-the-<br/>
<p>chart-2-1-total-number-of-provider-contracts-for-ecm-in-each-quarter<br/>
<p>chart-2-2-cumulative-number-of-ecm-provider-contracts-since-ecm-launched<br/>
<p>chart-2-3-1-total-number-of-ecm-provider-contracts-in-each-quarter-by-population-of-focus<br/>
<p>chart-2-3-2-total-number-of-ecm-provider-contracts-in-the-last-12-months-of-the-reporting-perio<br/>
<p>chart-2-4-total-number-of-ecm-provider-contracts-in-the-most-recent-reporting-quarter<br/>
<p>chart-2-5-1-total-number-of-ecm-provider-contracts-by-mcp-and-county-in-each-quarter<br/>
<p>chart-2-5-2-total-number-of-ecm-provider-contracts-by-mcp-and-county-in-the-most-recent-reporti<br/>
<p>chart-2-5-3-total-number-of-ecm-provider-contracts-by-mcp-and-county-in-the-most-recent-reporti<br/>
<p>chart-3-1-x-total-number-of-unique-members-who-utilized-community-supports-in-each-quarter<br/>
<p>chart-3-2-total-number-of-community-supports-services-utilized-in-each-quarter<br/>
<p>chart-3-3x4-cumulative-number-of-members-who-utilized-community-supports-since-community-suppor<br/>
<p>chart-3-5-1-total-number-of-members-who-utilized-community-supports-in-each-quarter-by-service<br/>
<p>chart-3-5-1-total-number-of-members-who-utilized-community-supports-in-the-last-12-months-of-th<br/>
<p>chart-3-5-2-total-number-of-members-who-utilized-community-supports-in-each-quarter-by-service<br/>
<p>chart-3-5-2-total-number-of-members-who-utilized-community-supports-in-the-last-12-months-of-th<br/>
<p>chart-3-6-1-community-supports-members-in-the-last-12-months-of-the-reporting-period-by-race-an<br/>
<p>chart-3-6-2-community-supports-members-in-the-last-12-months-of-the-reporting-period-by-preferr<br/>
<p>chart-3-6-3-community-supports-members-in-the-last-12-months-of-the-reporting-period-by-age-com<br/>
<p>chart-3-6-4-community-supports-members-in-the-last-12-months-of-the-reporting-period-by-sex-com<br/>
<p>chart-3-7-county-utilization-rates-for-community-supports-in-the-last-12-months-of-the-reportin<br/>
<p>chart-3-8-mcp-utilization-rates-for-community-supports-in-the-last-12-months-of-the-reporting-p<br/>
<p>chart-3-9-1-community-supports-utilization-rates-by-mcp-and-county-in-the-last-12-months-of-the<br/>
<p>chart-3-9-2-total-members-who-received-community-supports-by-mcp-and-county-in-each-quarter-of-<br/>
<p>chart-3-9-3-total-members-who-received-community-supports-by-mcp-and-county-in-the-most-recent-<br/>
<p>chart-4-1-total-number-of-provider-contracts-for-community-supports-in-each-quarter<br/>
<p>chart-4-2-cumulative-number-of-community-supports-provider-contracts-since-community-supports-l<br/>
<p>chart-4-3-1-total-number-of-community-supports-provider-contracts-by-service-in-each-quarter<br/>
<p>chart-4-3-2-total-number-of-community-supports-provider-contracts-by-service-in-the-last-12-mon<br/>
<p>chart-4-4-total-number-of-community-supports-provider-contracts-in-the-most-recent-reporting-qu<br/>
<p>chart-4-5-1-total-number-of-community-supports-provider-contracts-in-each-mcp-and-county-by-qua<br/>
<p>chart-4-5-2-total-number-of-community-supports-provider-contracts-in-each-mcp-and-county-in-the<br/>
<p>chart-4-5-3-total-number-of-community-supports-provider-contracts-in-each-mcp-and-county-in-the<br/>
<p>chdp-summary-of-all-health-assessments-by-funding-source-sfy-2008-2014<br/>
<p>chemicals-in-cosmetics<br/>
<p>chhs-map-testing<br/>
<p>chhs-record-reconciliation<br/>
<p>chhs-record-reconciliation-dashboard-data-2015-2019<br/>
<p>child-health-and-disability-prevention-chdp-children-receiving-other-tests-by-age-sfy-2008-14<br/>
<p>child-health-and-disability-prevention-chdp-program-number-of-immunizations-by-age-sfy-2008-2014<br/>
<p>child-health-disability-prevention-chdp-children-served-and-amounts-paid-by-age-sfy-2008-14<br/>
<p>child-maltreatment-allegation-substantiation-rates-by-ethnic-group<br/>
<p>child-youth-ab470-datasets<br/>
<p>chlamydia-screening-percentages-for-female-family-pact-clients-by-age<br/>tables # 0, updated: NULL<br/>{% include "tops/chlamydia-screening-percentages-for-female-family-pact-clients-by-age-top.html" %}</p>
<p>chronic-conditions-experienced-by-californians-with-original-medicare-2021<br/>
<p>clostridioides-difficile-infections-cdi-in-california-hospitals<br/>
<p>clostridium-difficile-infections-cdi-in-healthcare<br/>
<p>cms-stc-datasets<br/>tables # 0, updated: NULL<br/>{% include "tops/cms-stc-datasets-top.html" %}</p>
<p>community-benefit-plans<br/>
<p>community-care-licensing-24-hour-residential-care-for-children-facility-locations<br/>
<p>community-care-licensing-adult-residential-facility-locations<br/>
<p>community-care-licensing-child-care-center-locations<br/>
<p>community-care-licensing-child-care-home-more-than-8-children-locations<br/>
<p>community-care-licensing-foster-family-agency-locations<br/>
<p>community-care-licensing-residential-elder-care-facility-locations<br/>
<p>community-support-and-mcp-age-group-cy-20221<br/>
<p>community-support-and-mcp-age-group-cy-2022<br/>
<p>community-support-and-mcp-sex-cy20221<br/>
<p>community-support-and-mcp-sex-cy2022<br/>
<p>community-support-county-data-summary-in-cy2022<br/>
<p>community-support-cumulative-services-cy20221<br/>
<p>community-support-cumulative-services-cy2022<br/>
<p>community-support-mcp-plan-data-summary-in-cy20221<br/>
<p>community-support-mcp-plan-data-summary-in-cy2022<br/>
<p>community-support-members-race-ethnicity-cy20221<br/>
<p>community-support-members-race-ethnicity-cy2022<br/>
<p>community-support-members-spoken-language-cy20221<br/>
<p>community-support-members-spoken-language-cy2022<br/>
<p>community-support-providers-by-provider-type-in-cy20221<br/>
<p>community-support-providers-by-provider-type-in-cy2022<br/>
<p>community-support-providers-by-services-in-cy2022<br/>
<p>community-supports-county-and-plan-detail<br/>
<p>community-supports-cumulative-members-cy20221<br/>
<p>community-supports-cumulative-members-cy2022<br/>
<p>community-supports-provider-contracts-county-and-plan-detail<br/>
<p>community-supports-providers-in-cy2022<br/>
<p>community-support-trends-in-counties-without-wpc-hhp-experience1<br/>
<p>community-support-trends-in-counties-without-wpc-hhp-experience<br/>
<p>community-support-trends-in-former-wpc-or-hhp-counties-in-cy20221<br/>
<p>community-support-trends-in-former-wpc-or-hhp-counties-in-cy2022<br/>
<p>consumers-served-by-age-group-and-gender<br/>
<p>consumers-served-by-age-group-and-residence-type<br/>
<p>consumers-served-by-residence-type-and-regional-center<br/>
<p>consumers-with-intellectual-disability-indicator-by-regional-center<br/>
<p>contraceptive-care-for-women-eligible-women-by-program-and-age-group<br/>
<p>contraceptive-care-for-women-statewide-use-by-contraceptive-type-and-age-group<br/>
<p>contraceptive-care-for-women-use-by-disability-status-contraceptive-type-and-age-group<br/>
<p>contraceptive-care-for-women-use-by-primary-language-contraceptive-type-and-age-group<br/>
<p>contraceptive-care-for-women-use-by-program-contraceptive-type-and-age-group<br/>
<p>contraceptive-care-for-women-use-by-race-ethnicity-contraceptive-type-and-age-group<br/>
<p>counts-and-status-of-california-work-opportunity-and-responsibility-to-kids-calworks-applications<br/>
<p>county-and-plan-ecm-data<br/>
<p>county-data-summary-for-cited-grants<br/>
<p>county-health-status-profiles<br/>tables # 1, updated: 2024-08-23<br/>{% include "tops/county-health-status-profiles-top.html" %}</p>
<p>county-medi-cal-certified-eligible-counts-by-county-and-dual-status-2013-through-2017<br/>
<p>covered-california-subsidized-qualified-health-plans-qhps-enrollees-by-federal-poverty-level-fpl<br/>
<p>covid-19-blueprint-for-a-safer-economy<br/>
<p>covid-19-dhcs-behavioral-health-licensed-and-certified-facilities<br/>
<p>covid19-emergency-dental-providers<br/>
<p>covid19-emergency-providers1<br/>
<p>covid19-emergency-providers<br/>
<p>covid-19-equity-metrics<br/>
<p>covid-19-hospital-data<br/>
<p>covid-19-outbreak-data<br/>
<p>covid-19-patient-data<br/>
<p>covid-19-post-vaccination-infection-data<br/>
<p>covid-19-probable-cases<br/>
<p>covid-19-sewershed-restricted-case-data<br/>tables # 2, updated: 2024-08-15<br/>{% include "tops/covid-19-sewershed-restricted-case-data-top.html" %}</p>
<p>covid-19-sewershed-restricted-case-data-confirmed-and-probable<br/>
<p>covid-19-staff-data<br/>
<p>covid-19-time-series-metrics-by-county-and-state<br/>
<p>covid-19-vaccine-progress-dashboard-data-by-zip-code<br/>
<p>covid-19-variant-data<br/>
<p>dataset-catalog<br/>tables # 1, updated: 2024-08-15<br/>{% include "tops/dataset-catalog-top.html" %}</p>
<p>death-by-zip-code-by-gender-2012-2013<br/>
<p>death-profiles-by-county<br/>tables # 1, updated: NULL<br/>{% include "tops/death-profiles-by-county-top.html" %}</p>
<p>death-profiles-by-leading-causes-of-death<br/>
<p>death-profiles-by-zip-code<br/>
<p>demographic-profile-of-family-pact-clients-served-by-fiscal-year<br/>tables # 0, updated: NULL<br/>{% include "tops/demographic-profile-of-family-pact-clients-served-by-fiscal-year-top.html" %}</p>
<p>dental-utilization-measures-and-sealant-data-by-county-ethnicity-age-calendar-year-2013-to-2015<br/>
<p>dental-utilization-measures-and-sealant-data-by-county-ethnicity-age-calendar-year-2013-to-2021<br/>
<p>dental-utilization-per-provider<br/>
<p>department-of-child-support-services-case-overview-ffy-2015-ffy-2016<br/>
<p>department-of-child-support-services-case-overview-ffy-2015-ffy-2018<br/>
<p>department-of-child-support-services-case-overview-ffy-2015-ffy-2019<br/>
<p>department-of-child-support-services-case-overview-ffy-2015-ffy-2020<br/>
<p>department-of-child-support-services-case-overview-ffy-2015-ffy-2021<br/>
<p>department-of-child-support-services-case-overview-ffy-2015-ffy-2022<br/>
<p>department-of-child-support-services-case-overview-ffy-2015-ffy-2023<br/>
<p>department-of-child-support-services-children-in-child-support-cases-ffy-2015-ffy-2016<br/>
<p>department-of-child-support-services-children-in-child-support-cases-ffy-2015-ffy-2019<br/>
<p>department-of-child-support-services-children-in-child-support-cases-ffy-2015-ffy-2020<br/>
<p>department-of-child-support-services-children-in-child-support-cases-ffy-2015-ffy-2021<br/>
<p>department-of-child-support-services-children-in-child-support-cases-ffy-2015-ffy-2022<br/>
<p>department-of-child-support-services-children-in-child-support-cases-ffy-2015-ffy-2023<br/>
<p>department-of-child-support-services-distributed-collections-by-assistance-type-ffy-2015-ffy-2016<br/>
<p>department-of-child-support-services-distributed-collections-by-assistance-type-ffy-2015-ffy-2019<br/>
<p>department-of-child-support-services-distributed-collections-by-assistance-type-ffy-2015-ffy-2020<br/>
<p>department-of-child-support-services-distributed-collections-by-assistance-type-ffy-2015-ffy-2021<br/>
<p>department-of-child-support-services-distributed-collections-by-assistance-type-ffy-2015-ffy-2022<br/>
<p>department-of-child-support-services-distributed-collections-by-assistance-type-ffy-2015-ffy-2023<br/>
<p>department-of-child-support-services-paternity-establishment-ffy-2015-ffy-2016<br/>
<p>department-of-child-support-services-paternity-establishment-ffy-2015-ffy-2019<br/>
<p>department-of-child-support-services-paternity-establishment-ffy-2015-ffy-2020<br/>
<p>department-of-child-support-services-paternity-establishment-ffy-2015-ffy-2021<br/>
<p>department-of-child-support-services-paternity-establishment-ffy-2015-ffy-2022<br/>
<p>department-of-child-support-services-paternity-establishment-ffy-2015-ffy-2023<br/>
<p>department-of-rehabilitation-office-contact-information-and-addresses-with-languages-spoken<br/>
<p>department-of-state-hospitals-forensic-vs-civil-commitment-population<br/>
<p>dhcs_age-and-gender-of-applicants-for-insurance-affordability-programs<br/>
<p>dhcs_applications-for-insurance-affordability-programs<br/>
<p>dhcs-county-code-reference-table<br/>tables # 1, updated: 2024-08-20<br/>{% include "tops/dhcs-county-code-reference-table-top.html" %}</p>
<p>dhcs_ethnicity-of-applicants-for-insurance-affordability-programs<br/>
<p>dhcs_primary-spoken-language-of-applicants-for-insurance-affordability-programs<br/>
<p>dhcs_qualified-health-plans-qhps-selected-by-covered-california-enrollees<br/>
<p>dhcs_race-of-applicants-for-insurance-affordability-programs<br/>
<p>dhcstest_covered-california-enrollees-by-metal-tier<br/>
<p>dhcstest_covered-california-enrollees-by-rating-region<br/>
<p>dhcstest_covered-california-enrollees-by-silver-plan<br/>
<p>dhcs-test-dental-utilization-measures-and-sealant-data-by-ethnicity-calendar-year-2013-to-2015<br/>
<p>dhcs-test-dental-utilization-measures-and-sealant-data-by-ethnicity-calendar-year-2013-to-2021<br/>
<p>dhcstest_eligible-individuals-enrolled-in-medi-cal-managed-care-health-plans<br/>
<p>directory-of-service-providers<br/>tables # 0, updated: NULL<br/>{% include "tops/directory-of-service-providers-top.html" %}</p>
<p>disaster_healthcare_volunteers_top_10_medical_occupations<br/>
<p>disproportionate-share-hospital-dsh-eligibility-for-state-fiscal-years-2010-2017<br/>
<p>dual-eligible-members-by-age-sex<br/>
<p>dual-eligible-members-by-language<br/>
<p>dual-medi-cal-and-medicare-advantage-enrollment-in-the-medicare-population-in-californian-counties<br/>
<p>early-and-periodic-screening-diagnosis-and-treatment-epsdt-demographics-by-biological-sex<br/>
<p>early-and-periodic-screening-diagnosis-and-treatment-epsdt-snapshot-report-by-biological-sex<br/>
<p>early-and-periodic-screening-diagnosis-and-treatment-epsdt-time-to-step-down-by-biological-sex<br/>
<p>early-and-periodic-screening-diagnosis-and-treatment-of-children-and-youth-performance-dashboard<br/>
<p>early-and-periodic-screening-diagnosis-and-treatment-smhs-utilization-by-biological-sex<br/>
<p>ecm-and-mcp-age-group-cy-20221<br/>
<p>ecm-and-mcp-age-group-cy-2022<br/>
<p>ecm-community-support-data-tables-for-quarterly-implementation-report<br/>
<p>ecm-community-support-services-tables-for-cy-2022-implementation-report<br/>
<p>ecm-county-data-summary-in-cy20221<br/>
<p>ecm-county-data-summary-in-cy2022<br/>
<p>ecm-mcp-plan-data-summary-detail-in-cy20221<br/>
<p>ecm-mcp-plan-data-summary-detail-in-cy2022<br/>
<p>ecm-provider-contracts-county-and-plan-detail<br/>
<p>ecm-providers-by-provider-type-in-cy20221<br/>
<p>ecm-providers-by-provider-type-in-cy2022<br/>
<p>ecm-providers-in-cy20221<br/>
<p>ecm-providers-in-cy2022<br/>
<p>ecm-providers-who-served-each-pof-in-cy20221<br/>
<p>ecm-providers-who-served-each-pof-in-cy2022<br/>
<p>ecm-trends-in-counties-that-hhp-or-wpc1<br/>
<p>ecm-trends-in-counties-that-hhp-or-wpc<br/>
<p>ecm-trends-in-counties-without-wpc-hhp-experience1<br/>
<p>ecm-trends-in-counties-without-wpc-hhp-experience<br/>
<p>educational-attainment<br/>
<p>effects-of-covid-19-on-hospital-utilization-trends<br/>
<p>ehr-incentive-program-payments-hospitals<br/>
<p>ehr-incentive-program-payments-hospitals_old1<br/>
<p>ehr-incentive-program-payments-providers<br/>
<p>ehr-incentive-program-payments-providers_old1<br/>
<p>elective-percutaneous-coronary-intervention-pci-program-reports<br/>
<p>electronic-health-record-ehr-incentive-program-payments-for-eligible-providers2<br/>
<p>electronic-health-record-ehr-incentive-program-payments-for-eligible-providers3<br/>
<p>electronic-health-record-ehr-incentive-program-payments-to-eligible-hospitals2<br/>
<p>electronic-health-record-ehr-incentive-program-payments-to-eligible-hospitals3<br/>
<p>eligible-individuals-enrolled-in-medicare-savings-programs-msp<br/>
<p>eligible-individuals-in-medi-cal-managed-care-county-organized-health-system-cohs-health-plans<br/>
<p>eligible-individuals-under-age-21-enrolled-in-medi-cal-by-county<br/>
<p>eligible-older-adult-expansion-individuals-enrolled-in-medi-cal<br/>
<p>eligible-young-adult-expansion-individuals-enrolled-in-medi-cal<br/>
<p>emergency-department-encounters-for-alcohol<br/>
<p>emergency-department-services-trends<br/>
<p>emergency-department-volume-and-capacity<br/>
<p>emsa_dhv_top_10_medical_occupations<br/>
<p>emsa-dhv-volunteers-by-org<br/>
<p>emsa-disaster-healthcare-volunteers-volunteers-by-organization<br/>
<p>enforcement-actions-trend<br/>
<p>enrolled-medi-cal-fee-for-service-provider1<br/>
<p>enrollment-data<br/>
<p>ethnicity-of-individuals-selecting-covered-california-qualified-health-plan-qhp<br/>
<p>every-woman-counts-regional-contractors-map<br/>
<p>facility-profile-attributes<br/>tables # 1, updated: NULL<br/>{% include "tops/facility-profile-attributes-top.html" %}</p>
<p>family-pact-adults-and-adolescents-receiving-an-contraceptive-iuc<br/>tables # 0, updated: NULL<br/>{% include "tops/family-pact-adults-and-adolescents-receiving-an-contraceptive-iuc-top.html" %}</p>
<p>family-pact-client-demographics-by-county<br/>tables # 0, updated: NULL<br/>{% include "tops/family-pact-client-demographics-by-county-top.html" %}</p>
<p>family-pact-clients-served-by-service-type-combination-and-fiscal-years<br/>tables # 0, updated: NULL<br/>{% include "tops/family-pact-clients-served-by-service-type-combination-and-fiscal-years-top.html" %}</p>
<p>family-pact-female-clients-by-method-tier-and-race-ethnicity<br/>tables # 0, updated: NULL<br/>{% include "tops/family-pact-female-clients-by-method-tier-and-race-ethnicity-top.html" %}</p>
<p>family-pact-provider-finder-app<br/>tables # 0, updated: NULL<br/>{% include "tops/family-pact-provider-finder-app-top.html" %}</p>
<p>family-pact-providers-clients-and-reimbursement-by-county<br/>tables # 0, updated: NULL<br/>{% include "tops/family-pact-providers-clients-and-reimbursement-by-county-top.html" %}</p>
<p>family-pact-providers-file_old1<br/>
<p>family-pact-providers-file_old2<br/>
<p>family-pact-providers-profile<br/>tables # 0, updated: NULL<br/>{% include "tops/family-pact-providers-profile-top.html" %}</p>
<p>family-pact-reimbursement-by-service-type<br/>tables # 0, updated: NULL<br/>{% include "tops/family-pact-reimbursement-by-service-type-top.html" %}</p>
<p>family-pact-sexually-transmitted-infection-test-volume-for-males-and-females-by-fiscal-years<br/>tables # 0, updated: NULL<br/>{% include "tops/family-pact-sexually-transmitted-infection-test-volume-for-males-and-females-by-fiscal-years-top.html" %}</p>
<p>family-planning-methods-by-effectiveness-for-female-clients<br/>
<p>fee-for-service-provider-data-dictionary<br/>
<p>fee-for-service-provider-finder-app<br/>
<p>fee-for-service-web-app-quick-user-guide<br/>
<p>female-family-pact-clients-by-age<br/>tables # 0, updated: NULL<br/>{% include "tops/female-family-pact-clients-by-age-top.html" %}</p>
<p>ffs-ped-web-app-quick-reference-guide<br/>
<p>ffs-provider-specialty-reference-table<br/>
<p>ffs-provider-type-reference-table<br/>
<p>food-affordability-2006-2010<br/>
<p>former-foster-youth-enrolled-in-medi-cal-by-county-and-by-age<br/>
<p>four-quarter-financial-summary-hospital-utilization-charity-care-and-bad-debt-summary<br/>
<p>four-quarter-summary-hospital-utilization-operating-revenue-and-profit-margins<br/>
<p>four-quarter-summary-hospital-utilization-patient-days-by-type-of-ownership<br/>
<p>fourth-quarter-summary-hospital-utilization-discharges-by-payer-source<br/>
<p>fourth-quarter-summary-hospital-utilization-net-patient-revenue-by-payer-source<br/>
<p>fpact-test<br/>
<p>friendship-line-california-calls-in-response-to-covid-19<br/>
<p>fruit-and-vegetable-consumption-in-california-residents-2012-2013<br/>
<p>hantavirus-in-california1<br/>
<p>hcp-influenza-vaccination-reported-by-california-hospitals-2018-20191<br/>
<p>hcp-influenza-vaccination-reported-by-california-hospitals-2020-20211<br/>
<p>health-and-human-services-program-counts<br/>tables # 4, updated: 2024-07-31<br/>{% include "tops/health-and-human-services-program-counts-top.html" %}</p>
<p>healthcare-facility-bed-types-and-counts<br/>
<p>healthcare-facility-locations<br/>tables # 2, updated: 2024-07-30<br/>{% include "tops/healthcare-facility-locations-top.html" %}</p>
<p>healthcare-facility-services<br/>tables # 0, updated: NULL<br/>{% include "tops/healthcare-facility-services-top.html" %}</p>
<p>healthcare-facility-state-enforcement-actions<br/>
<p>health-care-in-an-integrated-system-lghc-indicator-40<br/>
<p>healthcare-payments-data-hpd-healthcare-measures<br/>
<p>healthcare-payments-data-snapshot<br/>tables # 3, updated: 2024-08-02<br/>{% include "tops/healthcare-payments-data-snapshot-top.html" %}</p>
<p>healthcare-workforce-geography-crosswalk<br/>tables # 3, updated: NULL<br/>{% include "tops/healthcare-workforce-geography-crosswalk-top.html" %}</p>
<p>health-human-services-program-counts<br/>
<p>health-professional-shortage-area-dental3<br/>
<p>health-professional-shortage-area-dental<br/>
<p>health-professional-shortage-area-mental-health3<br/>
<p>health-professional-shortage-area-mental-health<br/>
<p>health-professional-shortage-area-primary-care3<br/>
<p>health-professional-shortage-area-primary-care<br/>
<p>health-professional-shortage-areas-in-california<br/>
<p>health-workforce-education-data<br/>
<p>health-workforce-languages<br/>
<p>health-workforce-race-ethnicity-data<br/>
<p>healthy-communities-data-and-indicators-project-hci-fitnessgram1<br/>
<p>healthy-communities-data-and-indicators-project-hci-housing-crowding1<br/>
<p>high-school-electronic-smoking-device-and-tobacco-use-prevalence<br/>
<p>hiv-aids-cases<br/>
<p>home-delivered-meals-in-response-to-covid-19<br/>
<p>home-health-hospice-annual-utilization-report-complete-data-set<br/>
<p>home-medical-device-retailers1<br/>
<p>horizontal-integration-bridge-data-report<br/>
<p>hospice-utilization-patient-demographics<br/>
<p>hospital-annual-financial-data-selected-data-pivot-tables<br/>
<p>hospital-annual-financial-disclosure-report-complete-data-set<br/>
<p>hospital-annual-utilization-report<br/>
<p>hospital-building-data<br/>tables # 1, updated: 2024-08-20<br/>{% include "tops/hospital-building-data-top.html" %}</p>
<p>hospital-characteristics-list-for-california-border-providers<br/>
<p>hospital-characteristics-list-for-california-providers<br/>
<p>hospital-emergency-department-characteristics-by-facility-pivot-profile<br/>
<p>hospital-emergency-department-characteristics-by-patient-county-of-residence<br/>
<p>hospital-emergency-department-diagnosis-procedure-and-external-cause-codes<br/>
<p>hospital-emergency-department-encounters-by-facility<br/>
<p>hospital-encounters-for-behavioral-health<br/>
<p>hospital-encounters-for-behvioral-health<br/>
<p>hospital-encounters-for-homeless-patients<br/>
<p>hospital-inpatient-characteristics-by-facility-pivot-profile<br/>
<p>hospital-inpatient-characteristics-by-patient-county-of-residence<br/>
<p>hospital-inpatient-diagnosis-procedure-and-external-cause-codes<br/>tables # 5, updated: NULL<br/>{% include "tops/hospital-inpatient-diagnosis-procedure-and-external-cause-codes-top.html" %}</p>
<p>hospitalization-counts-and-rates-of-selected-adverse-hospital-events-by-california-county-2005-2014<br/>
<p>hospital-profitability-2009-2013<br/>
<p>hospital-quarterly-financials-utilization<br/>
<p>hospital-quarterly-financial-utilization-report-complete-data-set<br/>
<p>hospital-quarterly-financial-utilization-report-sum-of-four-quarters<br/>
<p>hospital-staffing-2009-2013<br/>
<p>hospital-supplier-diversity-reports<br/>
<p>housing-cost-burden-2006-2010<br/>
<p>housing-crowding<br/>
<p>https-opainternetauthoring-reportcards-pages-default-aspx<br/>
<p>immunizations-in-child-care-by-academic-year<br/>
<p>income-inequality<br/>
<p>independent-medical-review-imr-determinations-trend<br/>
<p>infant-mortality-deaths-per-1000-live-births-lghc-indicator-01<br/>tables # 1, updated: NULL<br/>{% include "tops/infant-mortality-deaths-per-1000-live-births-lghc-indicator-01-top.html" %}</p>
<p>infectious-disease<br/>
<p>influenza-surveillance<br/>
<p>information-assistance-calls-in-response-to-covid-19<br/>
<p>inhospitalbirthsbymothersagegroup<br/>
<p>insurance-affordability-programs-applications-received-through-calheers-by-submission-channel<br/>
<p>insurance-affordability-programs-applications-received-through-county-offices-by-submission-channel<br/>
<p>insurance-affordability-programs-eligibility-appeals<br/>
<p>insurance-affordability-programs-eligibility-appeals-hearing-results<br/>
<p>integrated-care-for-dual-eligible-members<br/>
<p>invasive-aedes-in-california1<br/>
<p>ischemic-stroke-30-day-mortality-and-30-day-readmission-rates-and-quality-ratings-for-ca-hospitals<br/>
<p>katie-a-specialty-mental-health-datasets<br/>
<p>key-characteristics-of-californians-age-60-and-over<br/>
<p>leading-causes-of-death-by-zip-code<br/>
<p>licensed-and-certified-healthcare-facility-listing-november-2020<br/>
<p>licensed-and-certified-healthcare-facility-listing-october-2020<br/>
<p>licensed-bed-classification-and-designations-trends<br/>
<p>licensed-driving-under-the-influence-providers1<br/>
<p>licensed-driving-under-the-influence-providers<br/>
<p>licensed-driving-under-the-influence-providers_old1<br/>
<p>licensed-facility-crosswalk<br/>tables # 0, updated: NULL<br/>{% include "tops/licensed-facility-crosswalk-top.html" %}</p>
<p>licensed-healthcare-facility-listing<br/>tables # 1, updated: 2024-08-21<br/>{% include "tops/licensed-healthcare-facility-listing-top.html" %}</p>
<p>licensed-mental-health-rehabilitation-centers-mhrc-and-psychiatric-health-facilities-phf<br/>
<p>licensed-narcotics-treatment-programs-v21<br/>
<p>licensed-narcotic-treatment-program-facility-finder-app<br/>
<p>licensed-narcotic-treatment-programs1<br/>
<p>licensed-narcotic-treatment-programs3<br/>
<p>licensed-narcotic-treatment-programs7<br/>
<p>licensed-narcotic-treatment-programs-app<br/>
<p>licensed-narcotic-treatment-programs<br/>
<p>licensing-and-certification-district-offices-california<br/>
<p>live-birth-profiles-by-county<br/>tables # 1, updated: NULL<br/>{% include "tops/live-birth-profiles-by-county-top.html" %}</p>
<p>live-births-with-low-birthweight-and-very-low-birthweight<br/>
<p>living-wage<br/>
<p>location-age-and-experience-of-paramedics-and-emts-licensed-in-california<br/>
<p>long-term-care-facilities-annual-utilization-data<br/>
<p>long-term-care-facility-disclosure-report-data<br/>
<p>long-term-care-facility-profitability<br/>
<p>long-term-care-facility-staffing<br/>
<p>long-term-care-ombudsman-complaints-in-residential-care-facility-for-the-elderly-settings<br/>
<p>long-term-care-ombudsman-complaints-in-skilled-nursing-intermediate-care-facility-settings<br/>
<p>long-term-services-and-supports<br/>
<p>low-income-home-energy-assistance-program-liheap-household-report<br/>
<p>lyme-disease-in-california1<br/>
<p>major-diagnostic-categories-summary<br/>
<p>managed-care-performance-monitoring-dashboard-report<br/>
<p>map-counties-of-community-supports-available<br/>
<p>map-ecm-counties<br/>
<p>mcna-population-points-with-t-d-standards<br/>
<p>mcna-removed-population-points<br/>
<p>mcna-t-d-standards-by-county<br/>
<p>mcp-member-race-ethnicity-december-20221<br/>
<p>mcp-member-race-ethnicity-december-2022<br/>
<p>mcp-member-spoken-language-december-20221<br/>
<p>mcp-member-spoken-language-december-2022<br/>
<p>measurable-hospital-acquired-conditions-composite-patient-safety-indicator-statewide-rate-california<br/>tables # 0, updated: NULL<br/>{% include "tops/measurable-hospital-acquired-conditions-composite-patient-safety-indicator-statewide-rate-california-top.html" %}</p>
<p>medi-cal-and-calfresh-enrollment<br/>
<p>medi-cal-annual-renewals-by-county<br/>
<p>medi-cal-birth-statistics-by-select-characteristics-california-resident-hospital-births-2007-2016<br/>
<p>medi-cal-birth-statistics-by-select-characteristics-california-resident-hospital-births<br/>
<p>medi-cal-certified-eligible-counts-by-month-of-eligibility-zip-code-and-sex<br/>
<p>medi-cal-certified-eligibles-tables-by-county-from-2010-to-most-recent-reportable-month<br/>
<p>medi-cal-dental-fee-for-service-provider-listing<br/>
<p>medi-cal-dental-ffs-provider-listing<br/>
<p>medi-cal-enrollment-by-eligibility-group<br/>
<p>medi-cal-fee-for-service-provider-listing<br/>
<p>medi-cal-ffs-provider-listing1<br/>
<p>medi-cal-ffs-provider-listing-gdb<br/>
<p>medi-cal-ffs-provider-listing-old<br/>
<p>medi-cal-fpact-provider-listing1<br/>
<p>medi_cal_fpact_provider_listing<br/>
<p>medi-cal-fpact-provider-listing<br/>tables # 0, updated: NULL<br/>{% include "tops/medi-cal-fpact-provider-listing-top.html" %}</p>
<p>medically-underserved-areas3<br/>
<p>medically-underserved-areas<br/>
<p>medically-underserved-populations3<br/>
<p>medically-underserved-populations<br/>
<p>medi-cal-managed-care-capitation-rates-county-organized-health-systems-cohs-model<br/>
<p>medi-cal-managed-care-capitation-rates-geographic-managed-care-gmc<br/>
<p>medi-cal-managed-care-capitation-rates-regional-model-rural-expansion<br/>
<p>medi-cal-managed-care-capitation-rates-senior-care-action-network-scan<br/>
<p>medi-cal-managed-care-capitation-rates-two-plan-model<br/>
<p>medi-cal-managed-care-capitation-supplemental-rates-behavioral-health-treatment-bht<br/>
<p>medi-cal-managed-care-capitation-supplemental-rates-hepatitis-c<br/>
<p>medi-cal-managed-care-enrollment-report<br/>
<p>medi-cal-managed-care-provider-listing<br/>
<p>medi-cal-managed-care-supplemental-rates-hepatitis-c<br/>
<p>medical-service-study-areas-20101<br/>
<p>medical-service-study-areas-20102<br/>
<p>medical-service-study-areas3<br/>
<p>medical-service-study-areas<br/>
<p>medication-assisted-treatment-in-medi-cal-for-opioid-use-disorders-quarterly-by-county<br/>
<p>members-who-received-ecm-by-pof-in-cy-20221<br/>
<p>members-who-received-ecm-by-pof-in-cy-2022<br/>
<p>members-who-received-ecm-in-cy-20221<br/>
<p>members-who-received-ecm-in-cy-2022<br/>
<p>mental-and-behavioral-health-diagnoses-in-emergency-department-and-inpatient-discharges<br/>
<p>methicillin-resistant-staphylococcus-aureus-bloodstream-infections-mrsa-bsi-in-healthcare<br/>
<p>methicillin-resistant-staphylococcus-aureus-mrsa-bloodstream-infections-bsi-in-california-hospitals<br/>
<p>modified-retail-food-environment-index<br/>
<p>mortality-following-hip-fracture-repair-in-california-hospitals<br/>
<p>most-popular-baby-names-2005-2015<br/>
<p>most-popular-baby-names-2005-current<br/>
<p>mssa-2010c1-public1<br/>
<p>mssa-2010c1-public<br/>
<p>mssa-detail-2010c1-public1<br/>
<p>mssa-detail-2010c1-public<br/>
<p>mssa-detail3<br/>
<p>mssa-detail<br/>
<p>near-drowning-by-age-group<br/>
<p>near-drowning-by-residence-type<br/>
<p>neopb-gis-map-viewer1<br/>
<p>newborn-screening-disorders<br/>tables # 0, updated: NULL<br/>{% include "tops/newborn-screening-disorders-top.html" %}</p>
<p>newly-eligible-individuals-by-insurance-affordability-program-iap<br/>
<p>notice-of-inaction-noi-report<br/>
<p>number-and-percentage-of-sexually-transmitted-infection-tests-in-family-pact-by-fiscal-years<br/>tables # 0, updated: NULL<br/>{% include "tops/number-and-percentage-of-sexually-transmitted-infection-tests-in-family-pact-by-fiscal-years-top.html" %}</p>
<p>number-of-cancer-surgeries-volume-performed-in-california-hospitals<br/>
<p>number-of-family-pact-clients-provided-sterilization-services-and-percentage-change<br/>tables # 0, updated: NULL<br/>{% include "tops/number-of-family-pact-clients-provided-sterilization-services-and-percentage-change-top.html" %}</p>
<p>number-of-family-pact-clients-served-with-family-planning-methods-services-by-fiscal-years<br/>tables # 0, updated: NULL<br/>{% include "tops/number-of-family-pact-clients-served-with-family-planning-methods-services-by-fiscal-years-top.html" %}</p>
<p>number-of-individuals-transitioned-from-covered-california-qhps-to-medi-cal-program<br/>
<p>number-of-selected-inpatient-medical-procedures-in-california-hospitals<br/>
<p>number-of-weight-loss-surgeries-performed-in-california-hospitals<br/>
<p>obesity-in-california-2012-and-2013<br/>
<p>older-americans-act-title-iiic-1-nutrition-services-congregate-meals-program-and-participants<br/>
<p>older-americans-act-title-iiic-2-nutrition-services-home-delivered-meals-program-and-participants<br/>
<p>open-data-publishing-resources<br/>
<p>oshpd-healthcare-facilities1<br/>
<p>oshpd-healthcare-facilities3<br/>
<p>park-beach-open-space-or-coastline-access<br/>
<p>patient-demographics<br/>
<p>patient-origin-market-share-pivot-profile-inpatient-emergency-department-and-ambulatory-surgery<br/>
<p>patients-leaving-california-hospitals-against-medical-advice-ama<br/>
<p>patients-leaving-california-hospitals-against-medical-advice-ama-in-2019<br/>
<p>pci-reports<br/>
<p>percentage-of-births-in-high-poverty-for-adolescents1<br/>
<p>percentage-of-fpact-clients-tested-for-selected-stis-by-sex<br/>tables # 0, updated: NULL<br/>{% include "tops/percentage-of-fpact-clients-tested-for-selected-stis-by-sex-top.html" %}</p>
<p>percentage-of-physically-fit-students-lghc-indicator-8<br/>
<p>percentage-of-women-who-have-received-preventative-services-lghc-indicator<br/>
<p>percent-of-all-family-pact-clients-served-with-sexually-transmitted-infection-tests-by-fiscal-years<br/>tables # 0, updated: NULL<br/>{% include "tops/percent-of-all-family-pact-clients-served-with-sexually-transmitted-infection-tests-by-fiscal-years-top.html" %}</p>
<p>performance-dashboard-children-and-youth-in-foster-care<br/>
<p>performance-dashboard-children-and-youth-with-an-open-child-welfare-case<br/>
<p>pfas-in-water-systems1<br/>
<p>physician-orders-for-life-sustaining-treatment-polst<br/>
<p>physician-survey<br/>
<p>physician-survey-licensee-responses-by-address-of-record-zip-code<br/>
<p>plan-and-county-level-community-supports-utilization-rate-in-past-12-months-chart-3-7-1<br/>
<p>plan-and-county-level-ecm-penetration-rate-in-past-12-months-chart-1-7-1<br/>
<p>population-distribution-for-medi-cal-enrollees-by-met-and-unmet-share-of-cost-soc<br/>
<p>population-percentage-within-a-quarter-mile-of-alcohol-outlets-2014<br/>
<p>postoperative-sepsis-outcomes-for-elective-surgeries-in-california-hospitals<br/>tables # 0, updated: NULL<br/>{% include "tops/postoperative-sepsis-outcomes-for-elective-surgeries-in-california-hospitals-top.html" %}</p>
<p>poverty-rate-by-california-regions-2000-2010<br/>
<p>poverty-rate-by-california-regions<br/>
<p>poverty-rate-defined-by-u-s-census-by-california-regions-2000-2010<br/>
<p>pre-2012-home-health-agencies-hospice-annual-utilization-report-complete-data-set<br/>
<p>pre-2012-hospital-annual-financial-data-selected-data-pivot-tables<br/>
<p>pre-2012-hospital-annual-financial-disclosure-report-complete-data-set<br/>
<p>pre-2012-hospital-annual-utilization-report-pivot-tables<br/>
<p>pre-2012-hospital-quarterly-financial-utilization-report-sum-of-four-quarters<br/>
<p>pre-2012-long-term-care-facilities-annual-utilization-data<br/>
<p>pre-2012-long-term-care-facility-integrated-disclosure-and-medi-cal-cost-report-data-pivot-tables<br/>
<p>pre-2012-primary-care-clinic-utilization-data<br/>
<p>pre-2012-specialty-care-clinic-utilization-data<br/>
<p>pre-2015-utilization-rates-for-selected-medical-procedures-in-california-hospitals<br/>
<p>preferred-language-spoken-in-california-facilities<br/>
<p>prep-ap-base<br/>
<p>prep-ap-clinical-providers-and-enrollment-sites1<br/>
<p>prep-ap-sites-071220221<br/>
<p>prep-ap-sites-07122022<br/>
<p>prescription-drugs<br/>
<p>prescription-drugs-introduced-to-market<br/>
<p>prescription-drug-wholesale-acquisition-cost-wac-increases<br/>
<p>presumptive-eligibility<br/>
<p>preterm-and-very-preterm-live-births<br/>
<p>primary-care-clinic-annual-utilization-data<br/>tables # 2, updated: 2024-08-15<br/>{% include "tops/primary-care-clinic-annual-utilization-data-top.html" %}</p>
<p>primary-care-shortage-areas-in-california<br/>
<p>primary-care-shortage-areas-pcsa3<br/>
<p>primary-care-shortage-areas-pcsa<br/>
<p>primary-language-of-newly-medi-cal-eligible-individuals<br/>
<p>primary-spoken-language-of-individuals-selecting-covered-california-qualified-health-plan-qhp<br/>
<p>primary-written-language-of-applicants-for-insurance-affordability-programs<br/>
<p>primary-written-language-of-individuals-selecting-covered-california-qualified-health-plan-qhp<br/>
<p>profile-of-enrolled-medi-cal-dental-fee-for-service-ffs-providers-and-safety-net-clinics-sncs<br/>
<p>profile-of-enrolled-medi-cal-fee-for-service-ffs-providers-as-of-june-1-2017<br/>
<p>profile-of-enrolled-medi-cal-fee-for-service-ffs-providers<br/>tables # 1, updated: 2024-08-15<br/>{% include "tops/profile-of-enrolled-medi-cal-fee-for-service-ffs-providers-top.html" %}</p>
<p>program-of-all-inclusive-care-for-the-elderly-pace-rates<br/>
<p>proportion-of-adults-who-are-current-smokers-lghc-indicator-19<br/>
<p>proportion-of-high-school-students-who-smoked-cigarettes-in-the-past-30-days-lghc-indicator-13<br/>
<p>providers-delivering-family-planning-access-care-and-treatment-pact-services-by-fiscal-years<br/>tables # 0, updated: NULL<br/>{% include "tops/providers-delivering-family-planning-access-care-and-treatment-pact-services-by-fiscal-years-top.html" %}</p>
<p>provider-suspended-and-ineligible-list-alias-s-i-list<br/>
<p>provider-suspended-and-ineligible-list-s-i-list<br/>tables # 2, updated: 2024-08-10<br/>{% include "tops/provider-suspended-and-ineligible-list-s-i-list-top.html" %}</p>
<p>provision-of-selected-family-pact-contraception-by-county<br/>tables # 0, updated: NULL<br/>{% include "tops/provision-of-selected-family-pact-contraception-by-county-top.html" %}</p>
<p>public-hospital-redesign-and-incentives-in-medi-cal-prime-program-dy11-dy13-data<br/>
<p>quality-incentive-pool-qip-program-py1-py2-data<br/>
<p>quarterly-certified-eligible-counts-by-month-of-eligibility-county-and-threshold-language<br/>
<p>race-ethnicity-health-workforce-trends<br/>
<p>race-ethnicity-of-newly-medi-cal-eligible-individuals<br/>
<p>race-of-eligible-individuals-selecting-covered-california-qualified-health-plan-qhp<br/>
<p>radiological-air-sample-quarterly-composites<br/>
<p>rate-review-detail-trend<br/>
<p>rates-of-preventable-hospitalizations-age-18-for-selected-medical-conditions-by-county<br/>
<p>rates-of-preventable-hospitalizations-for-selected-medical-conditions-by-county<br/>
<p>rates-of-selected-hospital-procedures-examined-for-over-or-under-use-by-county<br/>
<p>readmissions-for-coronary-artery-bypass-graft-cabg-complications<br/>
<p>readmissions-for-isolated-coronary-artery-bypass-graft-cabg-complications<br/>
<p>regional-center-information<br/>
<p>registered-nurse-shortage-areas-in-california<br/>
<p>reported-positive-covid-19-tests-of-regional-center-consumers-by-gender<br/>
<p>respiratory-virus-dashboard-metrics<br/>tables # 1, updated: 2024-08-22<br/>{% include "tops/respiratory-virus-dashboard-metrics-top.html" %}</p>
<p>respondents-indicating-at-least-1-type-of-adverse-childhood-experience-lghc-indicator-04<br/>
<p>retail-availability-of-electronic-smoking-devices-by-county<br/>
<p>road-traffic-injuries-2002-2010<br/>
<p>sb-75-full-scope-medi-cal-for-all-children-enrollment<br/>
<p>school-immunizations-in-7th-grade-by-academic-year<br/>
<p>school-immunizations-in-kindergarten-by-academic-year<br/>
<p>seismic-compliance-data-by-county-for-general-acute-care-hospitals<br/>
<p>seismic-deadline-extensions-granted-for-california-hospitals<br/>
<p>seismic-ratings-and-collapse-probabilities-of-california-hospitals<br/>
<p>severe-sepsis-in-california<br/>
<p>social-determinants-of-health-sdoh-and-preventable-hospitalization-rates<br/>
<p>social-drivers-of-health-sdoh-and-preventable-hospitalization-rates<br/>
<p>specialty-care-clinic-complete-data-set<br/>
<p>state-test-sites<br/>
<p>statewide-death-profiles<br/>tables # 1, updated: 2024-06-26<br/>{% include "tops/statewide-death-profiles-top.html" %}</p>
<p>statewide-live-birth-profiles<br/>
<p>statewide-medi-cal-certified-eligible-individuals-by-aid-code-2013-2017<br/>
<p>stds-in-california-by-disease-county-year-and-sex<br/>
<p>sud-recovery-treatment-facilities1_old1<br/>
<p>sud-recovery-treatment-facilities2<br/>
<p>sud-recovery-treatment-facilities<br/>tables # 1, updated: 2024-08-15<br/>{% include "tops/sud-recovery-treatment-facilities-top.html" %}</p>
<p>sud-recovery-treatment-facilities_old2<br/>
<p>sud-recovery-treatment-facilities_old3<br/>
<p>sud-recovery-treatment-facility-finder-app<br/>
<p>sugar-sweetened-beverage-consumption-in-california-residents-2012-2013<br/>
<p>suicide-deaths-per-100-000-population-lghc-indicator-21<br/>
<p>surgical-site-infections-ssis-for-28-operative-procedures-in-california-hospitals<br/>tables # 5, updated: 2024-08-06<br/>{% include "tops/surgical-site-infections-ssis-for-28-operative-procedures-in-california-hospitals-top.html" %}</p>
<p>surgical-site-infections-ssis-for-5-operative-procedures-in-hospitals<br/>
<p>test-cdph-asthma-deaths-by-county<br/>
<p>test-cdph-central-line-associated-bloodstream-infections-clabsi-in-california-hospitals<br/>
<p>test-cdph-central-line-associated-bloodstream-infections-clabsi-in-health-care<br/>
<p>test-cdph-health-care-personnel-influenza-vaccination<br/>
<p>test-cdph-immunizations-in-first-grade-by-academic-year<br/>tables # 1, updated: NULL<br/>{% include "tops/test-cdph-immunizations-in-first-grade-by-academic-year-top.html" %}</p>
<p>test-cdph-infectious-disease<br/>
<p>test-cdph-influenza-surveillance<br/>
<p>test-cdph-number-of-licensed-daycare-center-slots-per-1-000-children-aged-0-5-years<br/>
<p>test-cdph-skilled-nursing-facilities-covid-19<br/>
<p>test-cdph-statewide-live-birth-profiles<br/>
<p>test-cdph-vaccine-preventable-disease-cases-by-county-and-year<br/>
<p>test-cdph-wic-authorized-product-list-apl<br/>
<p>test-dhcs-dental-utilization-measures-and-sealant-data-by-age-groups-calendar-year-2013-to-2015<br/>
<p>test-dhcs-dental-utilization-measures-and-sealant-data-by-age-groups-calendar-year-2013-to-2021<br/>
<p>test-dhcs-multi-year-dental-measures-data-by-age-groups-calendar-year-2013-to-2015<br/>
<p>test-dhcs-multi-year-dental-measures-data-by-age-groups-calendar-year-2013-to-2021<br/>
<p>test-dhcs-multi-year-dental-measures-data-by-county-calendar-year-2013-to-2015<br/>
<p>test-dhcs-multi-year-dental-measures-data-by-county-calendar-year-2013-to-2021<br/>
<p>test-dhcs-utilization-measures-and-sealant-data-by-county-calendar-year-2013-to-2015<br/>
<p>test-dhcs-utilization-measures-and-sealant-data-by-county-calendar-year-2013-to-2021<br/>
<p>test_dor_vocational-rehabilitation-successful-closures-by-age-group-and-county-sfy-2015<br/>
<p>test_dsh-violence-data<br/>
<p>test_oshpd_physician-survey-licensee-responses-by-address-of-record-zip-code<br/>
<p>test-state-sponsored-test-sites-in-california<br/>
<p>time-walk-bike-to-work-2001-2011<br/>
<p>tobacco-advertising-study<br/>
<p>tobacco-sold-to-minors-california<br/>
<p>top-25-ms-drgs-individual-hospital-pivot-profile<br/>
<p>top-25-ms-drgs-statewide-benchmark-pivot-profile<br/>
<p>top-five-major-diagnostic-categories-mdcs-for-california-hospitals<br/>
<p>total-construction-cost-of-healthcare-projects<br/>
<p>total-effectuated-qualified-health-plan-qhp-enrollment-covered-ca-qhps<br/>
<p>total-enrollment-dual-eligible-members-by-quarter<br/>
<p>total-members-who-received-community-supports-in-each-quarter-in-cy20221<br/>
<p>total-members-who-received-community-supports-in-each-quarter-in-cy2022<br/>
<p>total-members-who-received-ecm-in-each-county-and-plan-by-quarter-chart-1-7-2<br/>
<p>total-members-who-received-ecm-in-each-quarter-of-cy20221<br/>
<p>total-members-who-received-ecm-in-each-quarter-of-cy2022<br/>
<p>total-members-who-utilized-community-supports-in-each-county-and-plan-by-quarter-chart-3-7-2<br/>
<p>total-members-who-utilized-community-supports-in-each-county-and-plan-in-the-most-recent-report<br/>
<p>total-memebrs-who-received-each-county-and-plan-most-recent-reporting-quarter-by-population-of-<br/>
<p>total-number-of-community-supports-provider-contracts-in-each-mcp-and-county-by-quarter-chart-4<br/>
<p>total-number-of-community-supports-provider-contracts-in-each-mcp-and-county-in-most-recent-rep1<br/>
<p>total-number-of-community-supports-provider-contracts-in-each-mcp-and-county-in-most-recent-rep<br/>
<p>total-number-of-ecm-provider-contracts-in-each-mcp-and-county-by-quarter-chart-2-5-1<br/>
<p>total-number-of-ecm-provider-contracts-in-each-mcp-and-county-in-most-recent-reporting-quarter-1<br/>
<p>total-number-of-ecm-provider-contracts-in-each-mcp-and-county-in-most-recent-reporting-quarter-<br/>
<p>total-number-of-members-who-received-community-supports-by-service-in-20221<br/>
<p>total-number-of-members-who-received-community-supports-by-service-in-2022<br/>
<p>total-provider-reimbursement-for-family-pact-services-by-fiscal-years<br/>tables # 1, updated: 2024-08-22<br/>{% include "tops/total-provider-reimbursement-for-family-pact-services-by-fiscal-years-top.html" %}</p>
<p>transportation-to-work-2000-2006-2010<br/>
<p>trends-in-the-utilization-and-mortality-for-coronary-artery-bypass-graft-surgery<br/>
<p>tuberculosis-cases-and-rates<br/>
<p>unemployment-2004-2013<br/>
<p>utilization-rates-for-selected-medical-procedures-in-california-hospitals<br/>
<p>vaccine-preventable-disease-cases-by-county-and-year<br/>
<p>vaccine-progress-dashboard<br/>
<p>vancomycin-resistant-enterococci-vre-bloodstream-infections-in-california-hospitals<br/>
<p>vancomycin-resistant-enterococci-vre-bloodstream-infections-in-healthcare<br/>
<p>violent-crime-rate-california-2006-2010<br/>
<p>vocational-rehabilitation-consumers-served-by-age-group-and-county-sfy-2014-2022<br/>
<p>vocational-rehabilitation-consumers-served-by-age-group-and-county-sfy-2014<br/>
<p>vocational-rehabilitation-consumers-served-by-age-group-and-county-sfy-2017<br/>
<p>vocational-rehabilitation-consumers-served-by-disability-type-and-county-sfy-2014-2022<br/>
<p>vocational-rehabilitation-consumers-served-by-disability-type-and-county-sfy-2014<br/>
<p>vocational-rehabilitation-consumers-served-by-disability-type-and-county-sfy-2016<br/>
<p>vocational-rehabilitation-consumers-served-by-disability-type-and-county-sfy-2017<br/>
<p>vocational-rehabilitation-consumers-served-by-race-ethnicity-and-county-sfy-2014<br/>
<p>vocational-rehabilitation-consumers-served-by-race-ethnicity-and-county-sfy-2017-2022<br/>
<p>vocational-rehabilitation-consumers-served-by-race-ethnicity-and-county-sfy-2017<br/>
<p>vocational-rehabilitation-consumers-served-by-sex-and-county-sfy-2014-2022<br/>
<p>vocational-rehabilitation-consumers-served-by-sex-and-county-sfy-2014<br/>
<p>vocational-rehabilitation-consumers-served-by-sex-and-county-sfy-2016<br/>
<p>vocational-rehabilitation-consumers-served-by-sex-and-county-sfy-2017<br/>
<p>vocational-rehabilitation-successful-closures-average-hourly-wage-by-county-sfy-2014-2022<br/>
<p>vocational-rehabilitation-successful-closures-average-hourly-wage-by-county-sfy-2014<br/>
<p>vocational-rehabilitation-successful-closures-average-hourly-wage-by-county-sfy-2016<br/>
<p>vocational-rehabilitation-successful-closures-average-hourly-wage-by-county-sfy-2017<br/>
<p>vocational-rehabilitation-successful-closures-average-hours-worked-by-county-sfy-2014-2022<br/>
<p>vocational-rehabilitation-successful-closures-average-hours-worked-by-county-sfy-2014<br/>
<p>vocational-rehabilitation-successful-closures-average-hours-worked-by-county-sfy-2016<br/>
<p>vocational-rehabilitation-successful-closures-average-hours-worked-by-county-sfy-2017<br/>
<p>vocational-rehabilitation-successful-closures-by-age-group-and-county-sfy-2014-2022<br/>
<p>vocational-rehabilitation-successful-closures-by-age-group-and-county-sfy-2016<br/>
<p>vocational-rehabilitation-successful-closures-by-age-group-and-county-sfy-2017<br/>
<p>vocational-rehabilitation-successful-closures-by-disability-type-and-county-sfy-2014-2022<br/>
<p>vocational-rehabilitation-successful-closures-by-disability-type-and-county-sfy-2014<br/>
<p>vocational-rehabilitation-successful-closures-by-disability-type-and-county-sfy-2016<br/>
<p>vocational-rehabilitation-successful-closures-by-disability-type-and-county-sfy-2017<br/>
<p>vocational-rehabilitation-successful-closures-by-occupation-and-county-sfy-2014-2022<br/>
<p>vocational-rehabilitation-successful-closures-by-occupation-and-county-sfy-2014<br/>
<p>vocational-rehabilitation-successful-closures-by-occupation-and-county-sfy-2016<br/>
<p>vocational-rehabilitation-successful-closures-by-occupation-and-county-sfy-2017<br/>
<p>vocational-rehabilitation-successful-closures-by-race-ethnicity-and-county-sfy-2014-2022<br/>
<p>vocational-rehabilitation-successful-closures-by-race-ethnicity-and-county-sfy-2014<br/>
<p>vocational-rehabilitation-successful-closures-by-race-ethnicity-and-county-sfy-2016<br/>
<p>vocational-rehabilitation-successful-closures-by-race-ethnicity-and-county-sfy-2017<br/>
<p>vocational-rehabilitation-successful-closures-by-sex-and-county-sfy-2014-2022<br/>
<p>vocational-rehabilitation-successful-closures-by-sex-and-county-sfy-2014<br/>
<p>vocational-rehabilitation-successful-closures-by-sex-and-county-sfy-2017<br/>
<p>voter-registration-2002-2010<br/>tables # 2, updated: 2024-09-01<br/>{% include "tops/voter-registration-2002-2010-top.html" %}</p>
<p>walkable-distance-public-transit-2008-2012<br/>
<p>west-nile-virus-cases-2006-present<br/>
<p>wic-authorized-product-list-apl<br/>tables # 1, updated: NULL<br/>{% include "tops/wic-authorized-product-list-apl-top.html" %}</p>
<p>women-infants-and-children-wic-authorized-vendors<br/>tables # 1, updated: 2024-08-22<br/>{% include "tops/women-infants-and-children-wic-authorized-vendors-top.html" %}</p>
<p>workforce-quality-incentive-program-performance<br/>
<p>x-ray-technologist-listing-in-california<br/>tables # 1, updated: 2024-08-22<br/>{% include "tops/x-ray-technologist-listing-in-california-top.html" %}</p>
<p>or see <a href="/hcai/table_columns/">table columns</a>.
</div>
</body></html>
