<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<html>
<head>
    <title>HCAI</title>
    {% include "styles.html" %}
</head>
<body>
<div style="padding: 25px 25px 25px 25px;">
<h2>Datasets:</h2>
<p>adap-base: {% include "tops/adap-base-top.html" %}</p>
<p>asthma-deaths-by-county: {% include "tops/asthma-deaths-by-county-top.html" %}</p>
<p>asthma-prevalence: {% include "tops/asthma-prevalence-top.html" %}</p>
<p>chargemasters: {% include "tops/chargemasters-top.html" %}</p>
<p>county-health-status-profiles: {% include "tops/county-health-status-profiles-top.html" %}</p>
<p>covid-19-sewershed-restricted-case-data: {% include "tops/covid-19-sewershed-restricted-case-data-top.html" %}</p>
<p>dataset-catalog: {% include "tops/dataset-catalog-top.html" %}</p>
<p>death-profiles-by-county: {% include "tops/death-profiles-by-county-top.html" %}</p>
<p>dhcs-county-code-reference-table: {% include "tops/dhcs-county-code-reference-table-top.html" %}</p>
<p>health-and-human-services-program-counts: {% include "tops/health-and-human-services-program-counts-top.html" %}</p>
<p>healthcare-facility-locations: {% include "tops/healthcare-facility-locations-top.html" %}</p>
<p>healthcare-facility-services: {% include "tops/healthcare-facility-services-top.html" %}</p>
<p>healthcare-payments-data-snapshot: {% include "tops/healthcare-payments-data-snapshot-top.html" %}</p>
<p>healthcare-workforce-geography-crosswalk: {% include "tops/healthcare-workforce-geography-crosswalk-top.html" %}</p>
<p>hospital-building-data: {% include "tops/hospital-building-data-top.html" %}</p>
<p>hospital-inpatient-diagnosis-procedure-and-external-cause-codes: {% include "tops/hospital-inpatient-diagnosis-procedure-and-external-cause-codes-top.html" %}</p>
<p>infant-mortality-deaths-per-1000-live-births-lghc-indicator-01: {% include "tops/infant-mortality-deaths-per-1000-live-births-lghc-indicator-01-top.html" %}</p>
<p>licensed-facility-crosswalk: {% include "tops/licensed-facility-crosswalk-top.html" %}</p>
<p>licensed-healthcare-facility-listing: {% include "tops/licensed-healthcare-facility-listing-top.html" %}</p>
<p>live-birth-profiles-by-county: {% include "tops/live-birth-profiles-by-county-top.html" %}</p>
<p>measurable-hospital-acquired-conditions-composite-patient-safety-indicator-statewide-rate-california: {% include "tops/measurable-hospital-acquired-conditions-composite-patient-safety-indicator-statewide-rate-california-top.html" %}</p>
<p>newborn-screening-disorders: {% include "tops/newborn-screening-disorders-top.html" %}</p>
<p>postoperative-sepsis-outcomes-for-elective-surgeries-in-california-hospitals: {% include "tops/postoperative-sepsis-outcomes-for-elective-surgeries-in-california-hospitals-top.html" %}</p>
<p>primary-care-clinic-annual-utilization-data: {% include "tops/primary-care-clinic-annual-utilization-data-top.html" %}</p>
<p>profile-of-enrolled-medi-cal-fee-for-service-ffs-providers: {% include "tops/profile-of-enrolled-medi-cal-fee-for-service-ffs-providers-top.html" %}</p>
<p>provider-suspended-and-ineligible-list-s-i-list: {% include "tops/provider-suspended-and-ineligible-list-s-i-list-top.html" %}</p>
<p>statewide-death-profiles: {% include "tops/statewide-death-profiles-top.html" %}</p>
<p>sud-recovery-treatment-facilities: {% include "tops/sud-recovery-treatment-facilities-top.html" %}</p>
<p>surgical-site-infections-ssis-for-28-operative-procedures-in-california-hospitals: {% include "tops/surgical-site-infections-ssis-for-28-operative-procedures-in-california-hospitals-top.html" %}</p>
<p>test-cdph-immunizations-in-first-grade-by-academic-year: {% include "tops/test-cdph-immunizations-in-first-grade-by-academic-year-top.html" %}</p>
<p>wic-authorized-product-list-apl: {% include "tops/wic-authorized-product-list-apl-top.html" %}</p>
<p>women-infants-and-children-wic-authorized-vendors: {% include "tops/women-infants-and-children-wic-authorized-vendors-top.html" %}</p>
<p>or see <a href="/hcai/table_columns/">table columns</a>.
</div>
</body></html>
