<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<html>
<head>
    <title>Chargemasters</title>
    {% include "styles.html" %}
</head>
<body>
<div style="padding: 25px 25px 25px 25px;">
{% include "top_list.html" %}
<table class="table striped-table">
<thead>
<tr>
    <th>HCAI Id</th>
    <th>Directories</th>
    <th>Files</th>
</tr>
</thead>
<tbody>
{% for id in ids %}
    <tr>
        <td>{{ id }}</td>
        <td>
        {% for name in ids[id]['names'] %}
            {{ name }}<br/>
        {% endfor %}
        </td>
        <td>
        {% for file in ids[id]['files'] %}
             {{ file }}<br/>
        {% endfor %}
        </td>
    </tr>
{% endfor %}
</tbody>
</table>
</div>
</body></html>
