
**/.env
**/.venv
**/__pycache__
**/*.csv
**/*.json
**/*.zip
**/*.pdf
**/*.tableau
**/*.xls
**/*.xlsx
**/*.zip
**/*.geojson
**/*.kml
**/sources
**/20*
**/log*
**/.bash_history
**/.cache
**/.config
**/.local
**/.pki
**/.wget-hsts
**/logs

